* {
   box-sizing: border-box;
   font-family: "Lato", Helvetica, sans-serif;
}

:root {
   --primary-blue: #0073cf;
   --primary-red: #b71234;
   --red-accent: #7c0b23;

   --green-button: #12b72d;

   --grey-500: #304149;
   --grey-700: #363636;
   --grey-300: #ced4db;
}

body {
   background-color: var(--grey-300);
   max-width: 60%;
   margin: 0 auto;
   padding: 2rem;
   text-align: center;
}
.input-container {
   display: flex;
   gap: 1rem;
   margin-bottom: 1.5rem;
}
#imageUrl {
   flex: 1;
   padding: 0.5rem;
   border: 1px solid #ddd;
   border-radius: 0.5rem;
}
.classify-btn {
   padding: 10px 20px;
   background-color: var(--green-button);
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
.classify-btn:hover {
   background-color: #45a049;
}

/* Hide image initially */
#imagePreview {
   display: block;
   max-width: 100%;
   max-height: 50vh;
   margin: 1rem 0;
   border-radius: 0.5rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   display: none;
}
.results-container {
   margin-top: 1.5rem;
   padding: 1.5rem;
   background-color: #f9f9f9;
   border-radius: 0.5rem;
}
.prediction {
   margin: 1rem 0;
}
.prediction-label {
   font-weight: bold;
   margin-bottom: 0.5rem;
}
.progress-bar {
   height: 20px;
   background: #e0e0e0;
   border-radius: 0.5rem;
   overflow: hidden;
}
.progress {
   height: 100%;
   background: var(--primary-blue);
   transition: width 0.3s ease;
}
.error {
   color: var(--primary-red);
   padding: 0.5rem;
   background-color: #fde0e0;
   border-radius: 0.25rem;
   margin-top: 1.5rem;
}
.loading {
   color: var(--primary-blue);
   font-style: bold;
}
